<left>
<table style="margin-top:0px; margin-left:0px;">
<tr>
  <td><img src="https://raw.githubusercontent.com/worm-portal/WORM-Figures/master/style/worm.png" alt="WORM" title="WORM" width=50/></td>
  <td><h1 style=font-size:30px>Geochemical Speciation:<br>Alter and Suppress Options</h1><br />
</tr>
</table>
</left>

For this small demo, the `alter_options` option in the `speciate` function will be used to simultaneously:
1) suppress the formation of SO$_2$
2) suppress the formation of N$_2$
3) replace the dissociation reaction logK of KOH with a value of 12.0
4) adjust the dissociation reaction logK of NaHSiO$_3$ by -0.5

Four options are shown here, but up to 100 can be provided to `alter_options`.

---

The `alter_options` option in the `speciate` function accepts a list of lists, *e.g.*,
```
alter_options = [
                 ["SO2", "Suppress"],
                 ["N2", "Suppress"],
                 ["KOH", "Replace", 12.0],
                 ["NaHSiO3", "AugmentLogK", -0.5],
                ],
```

Each interior list represents a different option. The first element of each interior list is the name of a species. The second element is an option to alter the species and can be:

- Suppress : suppress the formation of the species.
- Replace : replace the species' log K value with a desired value.
- AugmentLogK : augment the value of the species' log K.
- AugmentG : augment the Gibbs free energy of the species by a desired value, in kcal/mol.

The third element is a numeric value corresponding to the chosen option. A third element is not required for Suppress.

First, the AqEquil Python package is loaded:

In [1]:
import AqEquil
ae = AqEquil.AqEquil()

Perform a speciation calculation with the default WORM database 'wrm' and specify a list of lists for alter_options:

In [2]:

speciation = ae.speciate(input_filename="input_example_wrm.csv",
                         exclude=["Year", "Area"],
                         alter_options=[
                                        ["SO2", "Suppress"],
                                        ["N2", "Suppress"],
                                        ["KOH", "Replace", 12.0],
                                        ["NaHSiO3", "AugmentLogK", -0.5],
                                       ],
                         delete_generated_folders=True)

Warning: no 'logfO2' column found. Attempting to find a column for aqueous O2 to estimate logfO2 at sample temperature and pressure...
Using wrm to speciate Bison Pool
Using wrm to speciate Spray Geyser Source
Warning: non-numeric aqueous O2 value in sample Crater Hills Geyser. Resorting to using Log fO2 (log bars) with a value of -6
Using wrm to speciate Crater Hills Geyser
Using wrm to speciate Ambergris
Using wrm to speciate MLS Source
Using wrm to speciate Gas Crack
Using wrm to speciate Snail
Finished!

Now that the speciation is complete, confirm that N2 and SO2 do not appear in results. The lookup table should be blank because these species have been suppressed:

In [3]:
speciation.lookup(["N2", "SO2"])

Empty DataFrame
Columns: []
Index: [Bison Pool, Spray Geyser Source, Crater Hills Geyser, Ambergris, MLS Source, Gas Crack, Snail]

Next, perform a speciation calculation again but this time with no alter_options:

In [4]:
speciation_no_options = ae.speciate(input_filename="input_example_wrm.csv",
                                    exclude=["Year", "Area"],
                                    delete_generated_folders=True)

Warning: no 'logfO2' column found. Attempting to find a column for aqueous O2 to estimate logfO2 at sample temperature and pressure...
Using wrm to speciate Bison Pool
Using wrm to speciate Spray Geyser Source
Warning: non-numeric aqueous O2 value in sample Crater Hills Geyser. Resorting to using Log fO2 (log bars) with a value of -6
Using wrm to speciate Crater Hills Geyser
Using wrm to speciate Ambergris
Using wrm to speciate MLS Source
Using wrm to speciate Gas Crack
Using wrm to speciate Snail
Finished!

Examine the log activities of KOH and NaHSiO3 **with** and **without** alter options to ensure their dissociation reaction logK values have been modified:

In [5]:
# speciation with alter options:
speciation.lookup(["KOH", "NaHSiO3"])

Sample                       KOH      NaHSiO3
                    log_activity log_activity
Bison Pool               -7.9443      -3.7939
Spray Geyser Source      -7.6180      -3.5838
Crater Hills Geyser     -11.1925      -7.4314
Ambergris                -7.6320      -3.9725
MLS Source               -7.7454      -3.6663
Gas Crack                -4.0327      -6.0227
Snail                    -4.4011      -5.2690

In [6]:
# speciation without alter options:
speciation_no_options.lookup(["KOH", "NaHSiO3"])

Sample                       KOH      NaHSiO3
                    log_activity log_activity
Bison Pool               -8.4798      -4.2828
Spray Geyser Source      -8.1390      -4.0622
Crater Hills Geyser     -11.7956      -7.9314
Ambergris                -8.4014      -4.4522
MLS Source               -8.2436      -4.1474
Gas Crack                -6.0740      -6.2467
Snail                    -6.7498      -5.5815

End of demo.