<left>
<table style="margin-top:0px; margin-left:0px;">
<tr>
  <td><img src="https://raw.githubusercontent.com/worm-portal/WORM-Figures/master/style/worm.png" alt="WORM" title="WORM" width=50/></td>
  <td><h1 style=font-size:30px>Power consumed from microbial growth</h1><h2>Breakout Session Activity</h2></td>
</tr>
</table>
</left>

The goal of this activity is to calculate power consumption by microbes grown in lab experiments. Power is energy over time and can be expressed in watts (J/sec).

1) The thermophilic marine bacterium *Carboxydobrachium pacificum* can obtain energy by catalyzing the reaction:

    $CO + H_2O = CO_2 + H_2$

    A growth experiment by [Sokolova et al. (2001)](https://doi.org/10.1099/00207713-51-1-141) tracked the concentrations of reactants and products throughout the growth of *C. pacificum* in a lab culture. These concentrations are given in the CSV `c_pacificum.csv` before and after the growth (samples "initial" and "final", respectively).
   
   a) How much energy (in affinity per mole of electrons transferred, J/mol e-) was available from the oxidation of CO to CO2 at the beginning of the experiment? At the end?

   b) The microbial growth phase lasted approximately 74 hours. What was the average power consumption of *C. pacificum* in watts/mole of electrons transferred?

   c) What was the average power consumption in watts/kg fluid?

3) The bacterium *Desulfocapsa thiozymogenes* turns sulfite (SO3-2) into sulfide and sulfate with the reaction:

    $4SO_3^{2-} + H^+ = HS^- + 3SO_4^{2-}$

    Initial and final concentrations of reactants and products are given in the CSV `d_thiozymogenes` for a growth experiment performed [Janssen et al. (1996)](https://doi.org/10.1007/s002030050374). The microbial growth phase took about 140 hours. What was the average power consumption of *Desulfocapsa thiozymogenes* in watts/mole e-? In watts/kg fluid?

In [1]:
import AqEquil
import pandas as pd

ae = AqEquil.AqEquil(exclude_organics=True)

Loading Water-Organic-Rock-Microbe (WORM) thermodynamic databases...
Excluding ['organic_aq', 'organic_cr'] from column 'category_1'in wrm_data.csv
wrm_data.csv is now set as the active thermodynamic database.
This database is meant for calculations between 0 and 1000 Â°C and up to 5 kb pressure.
Element database elements.csv is active.
Solid solution database solid_solutions.csv is active.
LogK database wrm_data_logk.csv is active.
Excluding ['organic_aq', 'organic_cr'] from column 'category_1'in wrm_data_logk.csv
LogK_S database wrm_data_logk_s.csv is active.
Excluding ['organic_aq', 'organic_cr'] from column 'category_1'in wrm_data_logk_s.csv
Balanced dissociation reactions are missing for species: Pb3(PO4)2, Pb3(AsO4)2, PbHPO4, Pb4O(PO4)2
Generating dissociation reactions for these species using strict and auxiliary basis species containing a maximum of one atom of one element besides O and H...
Pb3(PO4)2 : -1.0000 Pb3(PO4)2 3.0000 Pb+2 2.0000 HPO4-2 -2.0000 H+
Pb3(AsO4)2 : -1.0000 Pb3(AsO4)2 3.0000 Pb+2 2.0000 H2AsO4- -4.0000 H+
PbHPO4 : -1.0000 PbHPO4 1.0000 Pb+2 1.0000 HPO4-2
Pb4O(PO4)2 : -1.0000 Pb4O(PO4)2 4.0000 Pb+2 2.0000 HPO4-2 -4.0000 H+ 1.0000 H2

In [2]:
speciation = ae.speciate(
        input_filename = "c_pacificum.csv",
        )

Getting wrm_data.csv ready. This will take a moment...
Warning: a column for Pressure was not found in the sample input file. Defaulting to water saturation pressure...
Warning: no 'logfO2' column found. Attempting to find a column for aqueous O2 to estimate logfO2 at sample temperature and pressure...
Using wrm_data.csv to speciate initial
Using wrm_data.csv to speciate final
Finished!

In [3]:
speciation.save("c_pacificum.speciation")

Saved as 'c_pacificum.speciation'

### The notebook can be restarted here if necessary

In [4]:
import AqEquil
import pandas as pd

speciation = AqEquil.load("c_pacificum.speciation")

Loaded 'c_pacificum.speciation'

In [5]:
speciation.half_cell_reactions

             Redox Couple    Oxidant  Reductant
0         SO4-2 to sulfur      SO4-2     sulfur
1         SO4-2 to pyrite      SO4-2     pyrite
2            SO4-2 to H2S      SO4-2        H2S
3        sulfur to pyrite     sulfur     pyrite
4           sulfur to H2S     sulfur        H2S
5           pyrite to H2S     pyrite        H2S
6   goethite to magnetite   goethite  magnetite
7        goethite to Fe+2   goethite       Fe+2
8   hematite to magnetite   hematite  magnetite
9        hematite to Fe+2   hematite       Fe+2
10      magnetite to Fe+2  magnetite       Fe+2
11              CO2 to CO        CO2         CO
12             CO2 to CH4        CO2        CH4
13              CO to CH4         CO        CH4
14           NO3- to NO2-       NO3-       NO2-
15            NO3- to NH3       NO3-        NH3
16            NO2- to NH3       NO2-        NH3
17              O2 to H2O         O2        H2O
18              H2O to H2        H2O         H2

In [6]:
speciation.make_redox_reactions([11, 18])

In [7]:
speciation.apply_redox_reactions(y_type="A",
                                 y_units="J")

IntProgress(value=0, max=2)

Sample  rxn_11_18 affinity per mole e- rxn_18_11 affinity per mole e-
                              J/mol e-                       J/mol e-
initial                    -24945.3886                     24945.3886
final                      -13856.5035                     13856.5035

### Answer guide for facilitators

rxn_18_11 is the forward reaction. Affinities are positive, so the forward reaction is energy yielding. The change in the affinity (ÎA) is final-initial, and results in a negative value. Affinity decreased over time:

In [8]:
print("ÎA, J/mol e-")
13856 - 24945

ÎA, J/mol e-

-11089

Power can be calculated by dividing by time:

In [9]:
print("Power, watts/mol e-")
(13856 - 24945)/266400

Power, watts/mol e-

-0.041625375375375376

Flip the sign for power consumption:

In [10]:
print("Power consumption, watts/mol e-")
-(13856 - 24945)/266400

Power consumption, watts/mol e-

0.041625375375375376

To get power consumption in terms of watts/kg fluid, we can divide energy supply by time.

In [11]:
speciation.apply_redox_reactions(y_type="E",
                                 y_units="J",
                                 limiting=None)

IntProgress(value=0, max=2)

Sample,rxn_11_18 energy supply,rxn_11_18 limiting reactant,rxn_18_11 energy supply,rxn_18_11 limiting reactant
,J/kg fluid,limiting reactant,J/kg fluid,limiting reactant
initial,0.0,H2,11474.878757,CO
final,0.0,CO2,4628.072158,CO

In [12]:
print("Power consumption, watts/kg of growth media")
-(4631-11479)/266400

Power consumption, watts/kg of growth media

0.025705705705705705

### Guide to answering question 2

In [13]:
import AqEquil
import pandas as pd

ae = AqEquil.AqEquil(exclude_organics=True)

Loading Water-Organic-Rock-Microbe (WORM) thermodynamic databases...
Excluding ['organic_aq', 'organic_cr'] from column 'category_1'in wrm_data.csv
wrm_data.csv is now set as the active thermodynamic database.
This database is meant for calculations between 0 and 1000 Â°C and up to 5 kb pressure.
Element database elements.csv is active.
Solid solution database solid_solutions.csv is active.
LogK database wrm_data_logk.csv is active.
Excluding ['organic_aq', 'organic_cr'] from column 'category_1'in wrm_data_logk.csv
LogK_S database wrm_data_logk_s.csv is active.
Excluding ['organic_aq', 'organic_cr'] from column 'category_1'in wrm_data_logk_s.csv
Balanced dissociation reactions are missing for species: Pb3(PO4)2, Pb3(AsO4)2, PbHPO4, Pb4O(PO4)2
Generating dissociation reactions for these species using strict and auxiliary basis species containing a maximum of one atom of one element besides O and H...
Pb3(PO4)2 : -1.0000 Pb3(PO4)2 3.0000 Pb+2 2.0000 HPO4-2 -2.0000 H+
Pb3(AsO4)2 : -1.0000 Pb3(AsO4)2 3.0000 Pb+2 2.0000 H2AsO4- -4.0000 H+
PbHPO4 : -1.0000 PbHPO4 1.0000 Pb+2 1.0000 HPO4-2
Pb4O(PO4)2 : -1.0000 Pb4O(PO4)2 4.0000 Pb+2 2.0000 HPO4-2 -4.0000 H+ 1.0000 H2

In [14]:
speciation = ae.speciate(
        input_filename = "d_thiozymogenes.csv",
        )

Getting wrm_data.csv ready. This will take a moment...
Warning: a column for Pressure was not found in the sample input file. Defaulting to water saturation pressure...
Using wrm_data.csv to speciate initial
Using wrm_data.csv to speciate final
Finished!

In [15]:
speciation.save("d_thiozymogenes.speciation")

Saved as 'd_thiozymogenes.speciation'

### Notebook can be restarted from here if necessary

In [16]:
import AqEquil
import pandas as pd

speciation = AqEquil.load("d_thiozymogenes.speciation")

Loaded 'd_thiozymogenes.speciation'

In [17]:
speciation.half_cell_reactions

             Redox Couple    Oxidant  Reductant
0         SO4-2 to sulfur      SO4-2     sulfur
1         SO4-2 to pyrite      SO4-2     pyrite
2            SO4-2 to H2S      SO4-2        H2S
3        sulfur to pyrite     sulfur     pyrite
4           sulfur to H2S     sulfur        H2S
5           pyrite to H2S     pyrite        H2S
6   goethite to magnetite   goethite  magnetite
7        goethite to Fe+2   goethite       Fe+2
8   hematite to magnetite   hematite  magnetite
9        hematite to Fe+2   hematite       Fe+2
10      magnetite to Fe+2  magnetite       Fe+2
11              CO2 to CO        CO2         CO
12             CO2 to CH4        CO2        CH4
13              CO to CH4         CO        CH4
14           NO3- to NO2-       NO3-       NO2-
15            NO3- to NH3       NO3-        NH3
16            NO2- to NH3       NO2-        NH3
17              O2 to H2O         O2        H2O
18              H2O to H2        H2O         H2

### Note to facilitators

Sulfite (SO3-2) is not included in the built-in list of half reactions. To model sulfite dispropotionation, half reactions between sulfite and sulfide, and sulfite and sulfate are required.

Walk the participants through the process of adding new rows to the end of the half reaction dataframe with the code below. The code is 'pythonese' and may be unfamiliar to participants. You can assure them that they don't need to know the language to use this code as a template in case they ever want to add their own half reactions.

The first couple of lines show the contents of the rows to be added. For example, the first value of the list assigned to `new_row1` is 'SO3-2 to H2S'. This is the leftmost value that will be assigned to the leftmost column, "Redox Couple". The middle value, 'SO3-2' is assigned to the middle row, "Oxidant". The rightmost value, 'H2S', is assigned to the right column, "Reductant". Same story for the second row with sulfate to sulfite.

In [18]:
# add custom half reactions

speciation.add_new_half_reaction('SO3-2', 'H2S')
speciation.add_new_half_reaction('SO4-2', 'SO3-2')

speciation.half_cell_reactions

Added new half reaction to half_cell_reactions.
Added new half reaction to half_cell_reactions.

             Redox Couple    Oxidant  Reductant
0         SO4-2 to sulfur      SO4-2     sulfur
1         SO4-2 to pyrite      SO4-2     pyrite
2            SO4-2 to H2S      SO4-2        H2S
3        sulfur to pyrite     sulfur     pyrite
4           sulfur to H2S     sulfur        H2S
5           pyrite to H2S     pyrite        H2S
6   goethite to magnetite   goethite  magnetite
7        goethite to Fe+2   goethite       Fe+2
8   hematite to magnetite   hematite  magnetite
9        hematite to Fe+2   hematite       Fe+2
10      magnetite to Fe+2  magnetite       Fe+2
11              CO2 to CO        CO2         CO
12             CO2 to CH4        CO2        CH4
13              CO to CH4         CO        CH4
14           NO3- to NO2-       NO3-       NO2-
15            NO3- to NH3       NO3-        NH3
16            NO2- to NH3       NO2-        NH3
17              O2 to H2O         O2        H2O
18              H2O to H2        H2O         H2
19           SO3-2 to H2S      SO3-2        H2S
20         SO4-2 to SO3-2      SO4-2      SO3-2

Once the new rows are added, they can be used to make redox reactions by calling on the indices of the desired half reactions.

In [19]:
speciation.make_redox_reactions([19, 20])

### Note to faciliators

The table below is created by the function `make_redox_reactions` and provides a handy way to see what the code calculates for number of moles of electrons transferred per mole of reaction. For example, six electrons are transferred in sulfite disproportionation/comproportionation with sulfide and sulfate.

Why is this important? Numbers of electrons transferred in redox reactions aren't calculated automatically by the WORM function `calculate_energy` when calculating affinity in J/mole e-. If the reaction can be modeled with `make_redox_reactions`, it saves you from having to manually calculate number of e- transferred if you are doing an affinity calculation with `calculate_energy`.

In [20]:
speciation.redox_reactions_table

,redox_pairs,mol_e-_transferred_per_mol_rxn,coeff_1,species_1,coeff_2,species_2,coeff_3,species_3,coeff_4,species_4
reaction_name,,,,,,,,,,
rxn_19_20,"[19, 20]",6.0,-2.0,H+,3.0,SO4-2,1.0,H2S,-4.0,SO3-2
rxn_20_19,"[20, 19]",6.0,2.0,H+,-3.0,SO4-2,-1.0,H2S,4.0,SO3-2

In [21]:
speciation.apply_redox_reactions(y_type="A",
                                 y_units="J")

IntProgress(value=0, max=2)

Sample  rxn_19_20 affinity per mole e- rxn_20_19 affinity per mole e-
                              J/mol e-                       J/mol e-
initial                     41639.5933                    -41639.5933
final                       28195.9893                    -28195.9893

Calculate power same as before.

In [22]:
print("Power consumption, watts per mol e-")
-(28196 - 41640)/504000

Power consumption, watts per mol e-

0.026674603174603174

In [23]:
speciation.apply_redox_reactions(y_type="E",
                                 y_units="J",
                                 limiting=None)

IntProgress(value=0, max=2)

Sample,rxn_19_20 energy supply,rxn_19_20 limiting reactant,rxn_20_19 energy supply,rxn_20_19 limiting reactant
,J/kg fluid,limiting reactant,J/kg fluid,limiting reactant
initial,582.777338,SO3-2,0.0,SO4-2
final,0.637180,SO3-2,0.0,SO4-2

In [24]:
print("Power consumption, watts/kg growth media")
-(0.417 - 382)/504000

Power consumption, watts/kg growth media

0.000757109126984127